<div class="top-row ps-3 navbar navbar-dark">
    <div class="container-fluid">
        <a class="navbar-brand" href="">ReignerApi</a>
    </div>
</div>

<input type="checkbox" title="Navigation menu" class="navbar-toggler" />

<div class="nav-scrollable" onclick="document.querySelector('.navbar-toggler').click()">
    <nav class="nav flex-column">

        <!-- PROFILE -->
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="" Match="NavLinkMatch.All">
                <span class="bi bi-person-fill"></span> Profile
            </NavLink>
        </div>

        <!-- SKILLS -->
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="skills">
                <span class="bi bi-lightning-fill"></span> Skills
            </NavLink>
        </div>

        <!-- PROJECTS -->
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="projects">
                <span class="bi bi-kanban-fill"></span> Projects
            </NavLink>
        </div>

    </nav>
</div>