@page "/"

<PageTitle>Home</PageTitle>
<div class="hero">



<img src="imgs/Profile.jpg" alt="My Photo" class="profile-photo">
<h1>Reigner Pepito</h1>

<p>Hello! I'm an aspiring web developer. Explore my skills and projects here.</p>
</div>